.productListingItem_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.productListingItem_container:nth-child(2) {
  flex-direction: row-reverse;
}

.productListingItem_picture {
  width: 540px;
  height: 560px;
}

.productListingItem_picture img {
  width: 540px;
  border-radius: 5px;
}

.productListingItem_textContainer {
  width: 445px;
  height: 308px;
}

.productListingItem_newProductTag {
  color: #d87d4a;
  letter-spacing: 10px;
  font-size: 14px;
}

.productListingItem_title {
  width: 350px;
  line-height: 44px;
  font-size: 40px;
  letter-spacing: 2px;
}

.productListingItem_description {
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.productListingItem_button {
  padding: 1rem 2rem;
  border: none;
  background-color: #d87d4a;
  color: #fff;
  cursor: pointer;
}

.productListingItem_button:hover {
  background-color: #fbaf85;
}

@media screen and (max-width: 1250px) {
  .productListingItem_picture {
    width: 500px;
    height: 520px;
  }

  .productListingItem_picture img {
    width: 500px;
  }

  .productListingItem_textContainer {
    width: 405px;
    height: 308px;
  }
}

@media screen and (max-width: 1150px) {
  .productListingItem_picture {
    width: 450px;
    height: 470px;
  }

  .productListingItem_picture img {
    width: 450px;
  }

  .productListingItem_textContainer {
    width: 355px;
    height: 308px;
  }
}

@media screen and (max-width: 1050px) {
  .productListingItem_container {
    margin-bottom: 100px;
  }

  .productListingItem_picture {
    width: 400px;
    height: 420px;
  }

  .productListingItem_picture img {
    width: 400px;
  }

  .productListingItem_textContainer {
    width: 305px;
    height: 308px;
  }

  .productListingItem_title {
    width: 250px;
    line-height: 34px;
    font-size: 30px;
  }

  .productListingItem_description {
    font-size: 12px;
    line-height: 22px;
  }

  .productListingItem_button {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 915px) {
  .productListingItem_container {
    margin-bottom: 70px;
  }

  .productListingItem_picture {
    width: 350px;
    height: 370px;
  }

  .productListingItem_picture img {
    width: 350px;
  }

  .productListingItem_textContainer {
    width: 255px;
    height: 308px;
  }
}

@media screen and (max-width: 768px) {
  .productListingItem_container {
    margin-bottom: 100px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .productListingItem_container:nth-child(2) {
    flex-direction: column;
  }

  .productListingItem_picture {
    width: 100%;
    height: auto;
  }

  .productListingItem_picture img {
    width: 100%;
    height: auto;
  }

  .productListingItem_textContainer {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .productListingItem_title {
    width: 350px;
    line-height: 44px;
    font-size: 40px;
    text-align: center;
    margin: 0;
  }

  .productListingItem_description {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }

  .productListingItem_button {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .productListingItem_title {
    width: 250px;
    font-size: 28px;
  }
}
